<section class="row">
  <article class="column">
    <h2>Auction Items</h2>
    <ul>
        <%= for item <- @items do %>
          <li><strong><%= item.title %></strong>: <%= item.description %>
        <% end %>
    </ul>
  </article>
</section>
